<!DOCTYPE html>
<html>
  <head>
    <title>Till</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <p style="color: green"><%= notice %></p>
    <%= yield %>
  </body>
</html>
